{{#section "interests"}}
<hr>
<section id="interests">
  {{#> header-interests }}
    {{> header-icon _title="interests" _section="interests" _hdricon=(lookup . '_icon') }}
  {{/header-interests}}
  {{#each r.interests}}
    {{#> body-interests }}
    <div>
    <h3>{{ name }}</h3>
    <p>{{{ summary }}}</p>
    </div>
    {{/body-interests}}
  {{/each}}
</section>
{{/section}}
